@tailwind base;
@tailwind components;
@tailwind utilities;
@import "node_modules/react-modal-video/scss/modal-video.scss";
@layer base {
  body {
    @apply font-body;
  }
}
@layer components {
  .app-container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0.2);
    @apply bg-slate-900;
  }
  .page-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
  }
}

:where(.css-dev-only-do-not-override-e7dbnw).ant-tabs
  > .ant-tabs-nav
  .ant-tabs-nav-more {
  @apply bg-slate-800;
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
  outline: 1px solid rgb(168 85 247);
  border-radius: 5px;
}

// Pagination

:where(.css-dev-only-do-not-override-1vr7spz).ant-pagination
  .ant-pagination-item
  a,
:where(.css-dev-only-do-not-override-1vr7spz).ant-pagination
  .ant-pagination-prev,
.anticon {
  color: #fff;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-pagination
  .ant-pagination-item-active
  a,
:where(.css-dev-only-do-not-override-1vr7spz).ant-pagination
  .ant-pagination-item-active:hover,
:where(.css-dev-only-do-not-override-1vr7spz).ant-pagination
  .ant-pagination-item-active:hover
  a {
  @apply text-primary;
}
